baseURL: "https://tommago.com/" # if your site is in 'https', then make sure your base url isn't written using 'http' otherwise your sitemap would contain http (as opposeed to https) URLs. This would affect Google indexing of your URLs.
title: "TomMago"
pagination:
  pagerSize: 10
theme:
- "PaperMod"
- "hugo-cite"
enableInlineShortcodes: true
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true
pygmentsUseClasses: true
googleAnalytics: "G-9MSJDZKGWH"


minify:
    disableXML: true
    # minifyOutput: true

languages:
    en:
        languageName: "English"
        weight: 1
        taxonomies:
          category: categories
          tag: tags
        menu:
            main:
                - name: Talks
                  url: talks/
                  weight: 8
                - name: Search
                  url: search/
                  weight: 10
                - name: Tags
                  url: tags/
                  weight: 10
                - name: Notes
                  url: https://notes.tommago.com
                  weight: 9
                #- name: Categories
                #  url: categories/
                #  weight: 10

outputs:
    home:
        - HTML
        - RSS
        - JSON

params:
    env: production # to enable google analytics, opengraph, twitter-cards and schema.
    description: "Tom Magorsch - writing about particle physics, machine learning and other interests"
    author: "Tom Magorsch"
    # author: ["Me", "You"] # multiple authors

    defaultTheme: light
    # disableThemeToggle: true
    ShowShareButtons: false
    ShowReadingTime: true
    # disableSpecial1stPost: true
    displayFullLangName: true
    ShowPostNavLinks: false
    ShowBreadCrumbs: true
    ShowCodeCopyButtons: true
    ShowRssButtonInSectionTermList: true
    ShowToc: true
    math: true
    # comments: false
    #images: ["papermod-cover.png"]

    #profileMode:
    #    enabled: false
    #    title: PaperMod
    #    imageUrl: "#"
    #    imageTitle: my image
    #    # imageWidth: 120
    #    # imageHeight: 120
    #    buttons:
    #        - name: Archives
    #          url: archives
    #        - name: Tags
    #          url: tags

    homeInfoParams:
        Title: "Hey!"
        Content: >
            I'm Tom Magorsch, I'm a physicist mainly interested in <i>Particle Phenomenology</i>, and the application of <i>Machine Learning</i> and <i>Quantum Computing</i> to HEP problems.
            <ul style="padding-left:25px; padding-top:10px">
            <li><span style="width:100%;">Currently I am at the <a href="https://einrichtungen.ph.nat.tum.de//T30f/index.html">TU Munich</a> working on <i>non-equilibrium physics</i> in heavy ion collisions and new computational techniques to treat them.</span></li>
            <li>Also, I am part of the <a href="https://ml4sci.org">ML4SCI-Organization</a>, where I participated in <a href="https://summerofcode.withgoogle.com">Google Summer of Code</a>.</li>
            <li>We have a little project going on over at <a href="https://sheepanddice.de">sheepanddice.de</a> which I sometimes work on in my free time</li>
            </ul>
    socialIcons:
        - name: email
          url: "mailto:tommagorsch@gmail.com"
        - name: github
          url: "https://github.com/TomMago"
        - name: inspirehep
          url: "https://inspirehep.net/authors/1894387?ui-citation-summary=true"
        - name: googlescholar
          url: "https://scholar.google.com/citations?hl=de&user=zmmHkrYAAAAJ"
        #- name cv
        #  url: "https://github.com/TomMago"

        #- name: KoFi
        #  url: "https://ko-fi.com/adityatelange"
        #- name: Discord
        #  url: "https://discord.gg/ahpmTvhVmp"
        #- name: RsS
        #  url: "index.xml"

    #editPost:
    #    URL: "https://github.com/adityatelange/hugo-PaperMod/tree/exampleSite/content"
    #    Text: "Suggest Changes" # edit text
    #    appendFilePath: true # to append file path to Edit link

    # label:
    #     text: "Home"
    #     icon: icon.png
    #     iconHeight: 35

    # analytics:
    #     google:
    #         SiteVerificationTag: "XYZabc"

    # assets:
    #     favicon: "<link / abs url>"
    #     favicon16x16: "<link / abs url>"
    #     favicon32x32: "<link / abs url>"
    #     apple_touch_icon: "<link / abs url>"
    #     safari_pinned_tab: "<link / abs url>"

    # cover:
    #     hidden: true # hide everywhere but not in structured data
    #     hiddenInList: true # hide on list pages and home
    #     hiddenInSingle: true # hide on single page

    # fuseOpts:
    #     isCaseSensitive: false
    #     shouldSort: true
    #     location: 0
    #     distance: 1000
    #     threshold: 0.4
    #     minMatchCharLength: 0
    #     keys: ["title", "permalink", "summary", "content"]

markup:
    goldmark:
        renderer:
            unsafe: true
    highlight:
        noClasses: false
        # anchorLineNos: true
        # codeFences: true
        # guessSyntax: true
        # lineNos: true
        # style: monokai

privacy:
    vimeo:
        disabled: false
        simple: true

    twitter:
        disabled: false
        enableDNT: true
        simple: true

    instagram:
        disabled: false
        simple: true

    youtube:
        disabled: false
        privacyEnhanced: true

services:
    instagram:
        disableInlineCSS: true
    twitter:
        disableInlineCSS: true
