.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 280px;
    margin: calc(var(--gap) * 0) 0 calc(var(--gap) * 0) 0;
}

.second-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    margin: calc(var(--gap) * 0) 0 calc(var(--gap) * 0.5) 0;
    color: var(--secondary);
}

.news-list ul li:nth-of-type(1n+6){
  display: none;
}

.first-entry a{
    text-decoration: underline;
}

.second-entry a{
    text-decoration: underline;
}

.social-icons a{
    text-decoration: none!important;
}

.news{
    font-size: 12pt;
}

.news-list{
    margin-left:14pt;
}

.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.first-entry .entry-header h1 {
    font-size: 34px;
    line-height: 1.3;
}

.first-entry .entry-content {
    margin: 14px 0;
    font-size: 16px;
    -webkit-line-clamp: 3;
}

.first-entry .entry-footer {
    font-size: 12px;
}

.home-info .entry-content {
    -webkit-line-clamp: unset;
}

.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
    border: 1px solid var(--border);
}

.post-entry:active {
    transform: scale(0.96);
}

.tag-entry .entry-cover {
    display: none;
}

.entry-header h2 {
    font-size: 24px;
    line-height: 1.3;
}

.entry-content {
    margin: 8px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.entry-footer {
    color: var(--secondary);
    font-size: 13px;
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.entry-cover,
.entry-isdraft {
    font-size: 14px;
    color: var(--secondary);
}

.entry-cover {
    margin-bottom: var(--gap);
    text-align: center;
}

.entry-cover img {
    border-radius: var(--radius);
    pointer-events: none;
    width: 100%;
    height: auto;
}

.entry-cover a {
    color: var(--secondary);
    box-shadow: 0 1px 0 var(--primary);
}
